<div id="header">
  <div class="inner">
    <div class="logo">
<!--       <%= link_to image_tag('teniss_001.png'), '/' %> -->
  <h2>運営グループ</h2>
    </div>
    <!-- / ロゴ -->
    <!-- 電話番号+受付時間 -->
    <div class="info">
      <p class="tel">電話: <strong>050-5307-6953</strong></p>
      <p>受付時間: 平日 AM 10:00 〜 PM 5:00</p>
    </div>
    <!-- / 電話番号+受付時間 -->



  <!-- トップナビゲーション -->
  <ul id="topnav">
    <li><a href="/">トップページ<br><span>Top</span></a></li>
    <li><a href="//#two">TiAju Cupとは<br><span>About</span></a></li>
    <li><a href="/schedules/">試合スケジュール<br><span>Schedule</span></a></li>
    <li><a href="//#three">写真<br><span>Photos</span></a></li>
    <li><a href="/member/">運営グループ<br><span>Member</span></a></li>
    <li><a href="/contact/">お問い合わせ<br><span>Contact</span></a></li>
  </ul>
  <!-- トップナビゲーション -->

  </div>

<div id="wrapper">
<!-- コンテンツ -->
  <div id="main">

      <div class="content">
      <h3 class="heading">運営代表</h3>
      <table class="table">
        <tr>
          <th>代表</th>
          <td>修二</td>
        </tr>
        <tr>
          <th>出身地</th>
          <td>埼玉県さいたま市</td>
        </tr>
        <tr>
          <th>愛用ラケット</th>
          <td>AEROプロドライブ</td>
        </tr>
        <tr>
          <th>趣味</th>
          <td>旅行　映画(スターウォーズ)</td>
        </tr>
        <tr>
          <th>将来の夢</th>
          <td>日本のテニス人口を増やす</td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td>tiajucup@gmail.com</td>
        </tr>
      </table>
    </div>

    <div class="content">
      <h3 class="heading">主催者よりメッセージ</h3>
      <article>
        <%= image_tag 'tennis_game_001.jpg', :width => "320" ,:height => "240" ,:class => "alignright frame" %>
        <p>テニスでさいたま市を活性化。様々な世代がテニスを通じて交流を深め、日々の生活に潤いを与える大会にしたいと考えています！♪普段テニススクールに通っている方、学校の部活やサークルに所属している方、普段仕事が忙しく中々テニスができない方など全ての方に対し、試合経験を通じて上達して頂ける場を提供します！！</p>
      </article>
    </div>

<!--     <div class="content">
      <h3 class="heading">ホームページサンプル株式会社の取り組み</h3>
      <article>
        <img src="images/sample2.jpg" width="320" height="240" alt="" class="alignleft frame">
        <p>テニスでさいたま市を活性化。様々な世代がテニスを通じて交流を深め、日々の生活に潤いを与える大会にしたいと考えています！♪普段テニススクールに通っている方、学校の部活やサークルに所属している方、普段仕事が忙しく中々テニスができない方など全ての方に対し、試合経験を通じて上達して頂ける場を提供します！！</p>
      </article>
    </div>
  </div>
 -->
<!--   <aside id="sub">
    <div class="grid">
      <h3>ホームページサンプル</h3>
      <img src="images/sample2.jpg" width="234" height="240" alt="" class="alignleft frame">
      <table class="table">
        <tr>
          <th>代表</th>
          <td>修二</td>
        </tr>
        <tr>
          <th>出身地</th>
          <td>埼玉県さいたま市</td>
        </tr>
        <tr>
          <th>愛用ラケット</th>
          <td>AEROプロドライブ</td>
        </tr>
        <tr>
          <th>趣味</th>
          <td>旅行　映画(スターウォーズ)</td>
        </tr>
        <tr>
          <th>将来の夢</th>
          <td>日本のテニス人口を増やす</td>
        </tr>
      </table>
    </div>
  </aside>
</div> -->
</div>
</div>
<%= render partial: 'common/footer' %>