<div id="header">
  <div class="inner">
    <div class="logo">
<!--       <%= link_to image_tag('teniss_001.png'), '/' %> -->
  <h2>写真ギャラリー</h2>
    </div>
    <!-- / ロゴ -->
    <!-- 電話番号+受付時間 -->
    <div class="info">
      <p class="tel">電話: <strong>050-5307-6953</strong></p>
      <p>受付時間: 平日 AM 10:00 〜 PM 5:00</p>
    </div>
    <!-- / 電話番号+受付時間 -->



  <!-- トップナビゲーション -->
  <ul id="topnav">
    <li><a href="/">トップページ<br><span>Top</span></a></li>
    <li><a href="//#two">TiAju Cupとは<br><span>About</span></a></li>
    <li><a href="/schedules/">試合スケジュール<br><span>Schedule</span></a></li>
    <li><a href="//#three">写真<br><span>Photos</span></a></li>
    <li><a href="/member/">運営グループ<br><span>Member</span></a></li>
    <li><a href="/contact/">お問い合わせ<br><span>Contact</span></a></li>
  </ul>
  <!-- トップナビゲーション -->

  </div>

<div id="wrapper">
  <div class="content" id="gallery" id="three">
    <h3 class="heading">写真ギャラリー(随時更新)</h3>
      <article class="gridWrapper">
          <figure class="grid"><%= image_tag('IMG_2229.JPG')%></figure>
          <figure class="grid"><%= image_tag('IMG_2228.JPG')%></figure>
      </article>
  </div>
</div>