<div id="footer">
  <div class="inner">

    <!-- 3カラム -->
    <div class="gridWrapper">

      <article class="grid">
        <!-- ロゴ -->
        <p class="logo"><a href="/">TiAju Cup<br><span>enjoy tennis match</span></a></p>
        <!-- / ロゴ -->
      </article>
      <article class="grid col3">
<!--         <ul>
          <li><a href="subpage.html">サービス概要</a></li>
          <li><a href="subpage.html">会社情報</a></li>
          <li><a href="subpage.html">お問い合わせ</a></li>
          <li><a href="subpage.html">サイトマップ</a></li>
        </ul> -->
        <p>Copyright(c) 2016 TiAgu Cup. All Rights Reserved.
      </article>
    </div>
    <!-- / 3カラム -->

  </div>
</div>
